/*wat algemene stuff wat overal voor geldt */
*, *::after, *::before {
    box-sizing:border-box; 
    margin: 0;
    padding: 0; 
  }
  
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    cursor: default;
    /* background-image: url("../images/background.png"); */
    background-color: rgba(43,9,60,255); /* purple */
    background-size: 100% 100%;
   }

   p {
    font-family: 'Montserrat', sans-serif;
    color: white;
   }

   /* classes */

   /*---------------------------------------*/
   /*            form section               */
   /*---------------------------------------*/

   .formdiv {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
   }

   .formdiv h1{
    color: white;
    text-align: center;
    margin: 2em 0 1em 0;
    font-size: 3em;
   }

   .formdiv form {
     position: absolute;
     left: calc(50% - 158px);
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .formdiv form input[type=text] {
    width: 10em;
    height: 2em;
    font-size: 2em;
  }

  .formdiv form input[type=button] {
    width: 7em;
    height: 2em;
    margin-top: 1em;
    font-size: 1.5em;
  }


   /*------------------------------------------*/
   /*               main section               */
   /*------------------------------------------*/


   .maindiv {
    display: none;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
   }

   .button {
    position: absolute;
    bottom: 0;
    left: calc(50% - 25vh);
    width: 50vh;
   }

   .sentence {
       text-align: center;
       font-size: 2em;
       margin-top: 4em;
       padding: 0 0.5em;
   }

   .logo {
     position: absolute;
     margin: 1em;
     top: 0;
     right: 0;
     width: 6vh;
   }